################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FirstNetCoreApp/FirstNetCoreApp/obj
/FirstNetCoreApp/FirstNetCoreApp/bin/Debug/netcoreapp1.1
/FirstNetCoreApp/FirstNetCoreApp/bin/Debug/netcoreapp1.1
